/*Normalize styles*/
* {
	padding: 0;
	margin: 0;
	border: 0;

	/* transition: all 0.3s ease 0.3s; */
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	width: 100%;

	line-height: 1.5;
	font-size: 16px;
	font-weight: 400;
}

input,
button,
textarea {
	font-family: inherit;
}

a,
button {
	cursor: pointer;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/
