@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Ubuntu:wght@400;700&display=swap");

// # FONTS
$ff-Poppons: "Poppins", sans-serif;
$ff-Ubuntu: "Ubuntu", sans-serif;
$fw-400: 400;
$fw-700: 700;

// # COLOR THEME

$color-aside: #012e40;
$color-header: #025159;
$color-text: #038c8c;
$color-links: #03a696;
$color-hover: #f28705;
