@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Ubuntu:wght@400;700&display=swap");

// # FONTS
$ff-Poppons: "Poppins", sans-serif;
$ff-Ubuntu: "Ubuntu", sans-serif;
$fw-400: 400;
$fw-700: 700;
$fs-body: 16px;
$fs-header: $fs-body * 2.5;

// # COLOR THEME

$color-aside: #012e40;
$color-header: #025159;
$color-text: #038c8c;
$color-links: #03a696;
$color-hover: #f28705;

// # VARIABLES
$max-width: 1440px;

body {
	font-family: $ff-Ubuntu;
	font-weight: $fw-400;
	font-size: $fs-body;

	h1 {
		font-size: $fs-header;
		font-weight: $fw-700;
	}

	&:before {
		content: " ";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1000;
		opacity: 0.3;
		background-image: url(../img/bg-cover-green.webp);
		background-size: cover;
		background-repeat: no-repeat;
	}
}
